
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-progress {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  from { width: 0; }
  to { width: 100%; }
}
